
<div class="navbar-fixed">
   <nav class="white" role="navigation">
	   <div class="nav-wrapper container">
	     <%= link_to 'Pichares',root_path, class: 'brand-logo deep-orange-text' %>
	     <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="deep-orange-text material-icons">menu</i></a>
	     <ul class="right hide-on-med-and-down">
	       	<li><%= link_to 'Login', new_user_session_path, class: 'deep-orange-text' %>Log In</a></li>
	       	<li><%= link_to 'Sign Up!', new_user_registration_path, class: 'deep-orange-text' %>Sign Up</a></li>
	     		<li><%= link_to 'Home',root_path, class: 'brand-logo deep-orange-text' %></li>
	     </ul>
	     <ul class="side-nav" id="mobile-demo">
	     		<li><%= link_to 'Home',root_path %></li>
	     		<li><%= link_to 'Login', new_user_session_path %></li>
	       	<li><%= link_to 'Sign Up!', new_user_registration_path %></li>
	     </ul>
	   </div>
	 	</nav>
</div>

  